.meetVideoContainer {
    position: relative;
    height: 100vh;
    background: rgb(1, 4, 48);
}



.buttonContainers {
    background-color: black;
    position: fixed; /* Changed from absolute to fixed */
    width: 100vw;
    bottom: 0;
    text-align: center;
    margin-left: 0px;
    z-index: 1000; /* Ensure it appears above other elements */
}

.buttonContainers svg {
    font-size: 2.5rem;
}




.conferenceView {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    padding-bottom: 60px; /* Add padding to avoid overlap with buttonContainers */
    overflow-y: auto; /* Allow scrolling if content overflows */
    height: calc(100vh - 60px); /* Adjust height to exclude buttonContainers */
}

@media (min-width: 768px) {
    .conferenceView {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .conferenceView {
        grid-template-columns: repeat(3, 1fr);
    }
}

.conferenceView video {
    background-color: black;
    height: 13em;
    border-radius: 20px;
}




.chatRoom {
    position: absolute;
    margin: 10px;
    margin-left: 20px;
    padding-bottom: 1rem;
    height: 88vh;
    right: 0;
    background: bisque;
    border-radius: 10px;
    width: 30vw;
    padding-inline: 20px;
    z-index: 10;
}

@media (max-width: 900px) {
    .chatRoom {
        margin: 0;
        padding-bottom: 1rem;

        width: 100vw;
        height: 92vh;
        top: 0;
        right: 0;
        border-radius: 0;
    }
}

.chatContainer {
    position: relative;
    height: 100%;
}

.chattingArea {
    position: absolute;
    bottom: 0;
    width: 100%;
}


.meetUserVideo {
    padding: 1rem;
    position: relative;
    height: 40vh; /* Change this value to set the desired height */
    max-height: 90vh;
    /* background: white; */
}

.video-container {
    position: relative;
}

.username-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
}