.meetVideoContainer {
    position: relative;
    height: 100vh;
    background: rgb(1, 4, 48);
}

/* .meetUserVideo {
    position: absolute;
    bottom: 10vh;
    height: 13em;
    width: auto;
    left: 1rem;
    border-radius: 20px;
} */

.buttonContainers {
    background-color: black;
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
}

.buttonContainers svg {
    font-size: 2.5rem;
}

.conferenceView { 
    display: flex;
    top: 10px;
    padding: 10px;
    gap: 10px;
}

.conferenceView  video {
    background-color: black; 

    /* width: auto; */
    height: 13em;
    /* min-width: 20vw; */
    /* border-radius: 65px ; */

    /* bottom: 10vh; */
    /* height: 10em;
    width: auto; */
    /* left: 1rem; */
    border-radius: 20px;
}

/* .chatRoom {
    position: absolute;
    height: 90vh;
    right: 0;
    background: black;
    border-radius: 10px;
    width: 30vw;
    padding-inline: 20px;
} */

/* .chatContainer {
    position: relative;
    height: 100%;
} */


/* .chattingArea {
    position: absolute;
    bottom: 0;
} */


.meetUserVideo {
    position: relative;
    height: auto;
    max-height: 60vh;
    background: rgb(1, 4, 48);
}

.chatRoom {
    position: absolute;
    height: 90vh;
    right: 0;
    background: black;
    border-radius: 10px;
    width: 30vw;
    padding-inline: 20px;
}

.chatContainer {
    position: relative;
    height: 100%;
}

.chattingArea {
    position: absolute;
    bottom: 0;
    width: 100%;
}