.meetVideoContainer {
    position: relative;
    height: 100vh;
    background: rgb(1, 4, 48);
}

/* .meetUserVideo {
    position: absolute;
    bottom: 10vh;
    height: 13em;
    width: auto;
    left: 1rem;
    border-radius: 20px;
} */

.buttonContainers {
    background-color: black;
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
    margin-left: 0px;
}

.buttonContainers svg {
    font-size: 2.5rem;
}

.conferenceView { 
    display: flex;
    top: 10px;
    padding: 10px;
    gap: 10px;
}

.conferenceView  video {
    background-color: black; 

    /* width: auto; */
    height: 13em;
    /* min-width: 20vw; */
    /* border-radius: 65px ; */

    /* bottom: 10vh; */
    /* height: 10em;
    width: auto; */
    /* left: 1rem; */
    border-radius: 20px;
}

/* .chatRoom {
    position: absolute;
    height: 90vh;
    right: 0;
    background: black;
    border-radius: 10px;
    width: 30vw;
    padding-inline: 20px;
} */

/* .chatContainer {
    position: relative;
    height: 100%;
} */


/* .chattingArea {
    position: absolute;
    bottom: 0;
} */




.chatRoom {
    position: absolute;
    height: 70vh;
    right: 0;
    background: bisque;
    border-radius: 10px;
    width: 30vw;
    padding-inline: 20px;
    z-index: 10;
}

.chatContainer {
    position: relative;
    height: 100%;
}

.chattingArea {
    position: absolute;
    bottom: 0;
    width: 100%;
   
}



.meetUserVideo {
    padding: 1rem;
    position: relative;
    height: 40vh; /* Change this value to set the desired height */
    max-height: 90vh;
    /* background: white; */
}

.video-container {
    position: relative;
}

.username-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
}