#root {
  /* max-width: 1290px; */
  width: 100vw; 
  margin: 0 auto; /* Removes all margin */
  max-width: 100%; /* Prevents width restrictions */
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* navbar */
.nav-bg-color{
  background-color:  #f9f4f4;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.navBar{
  display: flex;
  justify-content: space-between;
}

.navlist{
  display: flex;
  gap: 1rem;
}

.connectStyle{
  color: rgb(13, 202, 240)
}

.carousel {
 
  /* border-radius: 50%; */
}
.carousel img {
  width: 300px; 
  height: 300px;
}

.carousel-control-prev-icon {
  background-color: black; /* Change this to your desired color */
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.carousel-control-next-icon {
  background-color: black; /* Change this to your desired color */
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* Add a pseudo-element to display the arrow */
.carousel-control-prev-icon::after {
  color: white; /* Arrow color */
}

.carousel-control-next-icon::after {
  color: white; /* Arrow color */
}
